@page
@model GaleriaModel
@{
    ViewData["Title"] = "Galería";
    <link rel="stylesheet" href="~/css/Estilo.css" />
}


<div class="text-center">
    <h1 style="color: #00CED1" class="display-4">Galería</></h1>

        <p>
            Algunas de nuestras recomendaciones nominadas a los Óscar 2021
        </p>

        <div class="container">

            <ul class="slider">
                <li id="slide1">
                    <img src="https://www.wakeandlisten.com/wp-content/uploads/2020/06/oscars-2021.jpg" />
                </li>
                <li id="slide2">
                    <img src="https://cuatroamiguetes.files.wordpress.com/2020/10/tenet-portada.jpg" />
                </li>
                <li id="slide3">
                    <img src="https://nerdist.com/wp-content/uploads/2020/02/FrenchDispatchFeatured.png" />
                </li>
                <li id="slide4">
                    <img src="https://i.blogs.es/69cf8f/cartel-soul/450_1000.jpeg" />
                </li>

            </ul>

            <ul class="menu">
                <li>
                    <a href="#slide1">1</a>
                </li>
                <li>
                    <a href="#slide2">2</a>
                </li>
                <li>
                    <a href="#slide3">3</a>
                </li>
                <li>
                    <a href="#slide4">4</a>
                </li>
            </ul>

        </div>




</div>
