@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="color: #00CED1" class="display-4">Bienvenidos</></h1>
    <p>En esta página podrás encontrar todas las películas que han marcado una época además de noticias sobre el cine de actualidad.</p>
</div>
